/* typing animation */

const text = [
"AI Enthusiast",
"Machine Learning Explorer",
"Full Stack Developer",
"Tech Innovator"
];

let count = 0;
let index = 0;
let currentText = "";
let letter = "";

(function type(){

if(count === text.length){
count = 0;
}

currentText = text[count];
letter = currentText.slice(0, ++index);

document.querySelector(".typing").textContent = letter;

if(letter.length === currentText.length){
count++;
index = 0;
}

setTimeout(type,100);

})();


/* particles background */

const canvas = document.getElementById("particles");
const ctx = canvas.getContext("2d");

canvas.width = window.innerWidth;
canvas.height = window.innerHeight;

let particlesArray = [];

for(let i=0;i<100;i++){

particlesArray.push({

x:Math.random()*canvas.width,
y:Math.random()*canvas.height,
size:Math.random()*3,
speedX:(Math.random()-0.5)*1,
speedY:(Math.random()-0.5)*1

});

}

function animate(){

ctx.clearRect(0,0,canvas.width,canvas.height);

particlesArray.forEach(p=>{

p.x+=p.speedX;
p.y+=p.speedY;

ctx.fillStyle="#00f7ff";
ctx.beginPath();
ctx.arc(p.x,p.y,p.size,0,Math.PI*2);
ctx.fill();

});

requestAnimationFrame(animate);

}

animate();
