*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Orbitron',sans-serif;
}

body{
background:#0f172a;
color:white;
text-align:center;
}

header{
display:flex;
justify-content:space-between;
padding:20px 10%;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
}

.logo{
color:#00f7ff;
}

nav a{
margin:0 10px;
text-decoration:none;
color:white;
}

.hero{
padding:120px 20px;
}

.name{
font-size:60px;
color:#00f7ff;
}

.typing{
margin-top:10px;
color:#a5f3fc;
}

.btn{
margin-top:20px;
padding:12px 30px;
background:#00f7ff;
border:none;
border-radius:30px;
cursor:pointer;
}

section{
padding:80px 20px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:30px;
}

.card{
background:rgba(255,255,255,0.05);
padding:30px;
border-radius:15px;
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
background:#00f7ff;
color:black;
}

.github-btn{
display:inline-block;
padding:12px 30px;
background:#00f7ff;
color:black;
text-decoration:none;
border-radius:20px;
}

footer{
padding:20px;
background:#020617;
}
